
html,body{
    margin:0;
    padding:0;
    height:100%;
    overflow:hidden;
    font-size:.85em;
    background-color: #e6e4d8;
    color: #002157;
}

div,form,img,ul,ol,li,dl,dt,dd { margin: 0; padding: 0; border: 0;}

h1,h2,h3,h4,h5,h6 { margin:0; padding:0;}

table,td,tr,th{ font-size:12px;}  

ul {list-style:none;}
/*
img{
    vertical-align: middle;
}
*/
#main{
    height:100%;
    overflow:auto;
    width:100%;
    /*background-color:#cce8cf;*/
}

#menu_header{
    width:100%;
    height:25px;
    /*background-color:#4c6ba3;*/
    background: url(top_cell.gif) top repeat-x;
    /*border-bottom:1px solid #072c72;*/
    z-index:100;
    top:0px;
    left:0px;
    /*position:absolute;*/
}

#menu_footer{
    width:100%;
    height:20px;
    background-color:#4c6ba3;
    border-top:1px solid #072c72;
    z-index:100;
    bottom:0px;
    left:0px;
    position:absolute;
}

/* tab style */

.group-mods{
    width:100%;
    margin-bottom:0;
    z-index:-1;
}

.tab-nav{
    background:url(tab-line.gif) bottom repeat-x; 
    float: right; 
    overflow: hidden;
    
    z-index:2;
    
    color: #333; 
    margin: 10px 0 10px 0; 
    
    padding: 0px; 
    
    font-weight: normal;
    font-size: 12px;
    font-family:"Lucida Grande",Tahoma,Verdana,Lucida,Arial,sans-serif,Helvetica,"New Times Roman"; 
}
    
.tab-nav ul{ 
    clear: both;
    padding: 0; 
    list-style: none; 
}

.tab-nav li{ 
    background: url(tab-back.png) 0 100px; 
    float: left;
    margin-left: 5px;
}


.tab-nav li.current{ 
    border-bottom: 1px solid #e6e4d8; 
    background: url(tab-back.png) 0 0; 
}


.tab-nav li a, 
.tab-nav li a:visited{
  color: gray;
    display: block;
    float: left;
    margin: 0 0 0 5px;
    padding: 5px 12px 5px 2px;
    text-align: center;
    white-space: nowrap;
    text-decoration: none !important;
    background: url(tab-back.png) 100% 100px; 
    min-height: 17px; /* fixes FX/Mac issue */
}
.tab-nav li.current a,
.tab-nav li.current a:link,
.tab-nav li.current a:visited,
.tab-nav li.current a:hover
{ 
    color: RGB(108,135,34);
    margin: 0 0 0 5px;
    padding: 5px 12px 5px 2px;
    background: url(tab-back.png) 100% 0; 
    font-weight:normal;
}

.tab-nav li a:hover{
    color: black;
    margin: 0 0 0 5px;
    padding: 5px 12px 5px 2px;
    font-weight:normal;
}

.tab-nav li a img{
    margin:0px;
    padding:0px;
    border:0px;
    width:14px;
    height:14px;
    vertical-align: middle; 
}

/* global input setting */
a {
    /*color: #646363;*/
    color: #002157;
    text-decoration: none;
}

a:hover {
    /*color: #646363;*/
    /*color: #002157;*/
    text-decoration: underline;
}

input, textarea, option, select {
    color: #000;
    font-family: "Trebuchet MS", Tahoma, Arial, sans-serif;
    font-size: 12px;
    margin: 0;
    padding: 0;
}

input:focus, textarea:focus {
    border: 1px solid #686868;
    background-color: #DFDFDF;
}

ol.input_search {
    list-style-type:none;
}

input, textarea, select, span.editable, form img, form dl, ol.input_search li {
    margin-left: 0.8em;
    font-size: 12px;
    font-family: Verdana, Arial, Helvetica, Sans-Serif;
    vertical-align: top;
    outline: none;
}

ol.input_search li a{
    color:#ff5809;
}
ol.input_search li{
    color:#646363;
    line-height:180%;
}

ol.input_search li select {
    margin:0;
    width: 360px;
}

form dl{
    line-height: 150%;
}

form dd{
    float: left;
    margin-right: 0.7em;
}

form ul{
    clear: both;
    list-style:none;
    /*margin-bottom:19px;
    border-bottom:1px dashed #414141;*/
}

form ul li{
    line-height:200%;
}

form select{
    margin-top:2px;
    height:22px;
    max-width:360px;
    min-width:164px;
}

input, textarea, select {
    border: 1px solid #7d7d7d;
}

input.text {
    height:18px;
    padding-left:2px;
    padding-right:2px;
}

input.file {
    height: 20px;
}

.indent{
    clear:both;
    margin-top:10px;
    line-height:150%;
    margin-left: 10px;
    width: 98%; 
}

table.w98{  
    width: 98%;
    margin-top:10px;
    margin-left: 10px;
    border-collapse: collapse; 
}  
table.w98 td{  
    /*background-color: white; */ 
    border: 1px solid #4c6ba3;
    padding: 2px;
    word-wrap:break-word;
    word-break:break-all;
}

table.w98 th{  
    height: 32px;
    color: #ffffff;
    background-color: #4c6ba3; 
    border: 1px solid #072c72; 
    text-align: center;
}  

form.notab{
    padding:20px;
}

form.notab p, form p{
    margin-bottom:10px;
}

form.notab label, form label{
    color:#646363;
}

form.notab textarea{
    border: 1px solid #7d7d7d;
    width: 360px;
    height: 100px;
    word-wrap:break-word;
    overflow:auto;
}

.input, form.notab fieldset {
    width: 352px;
    /*height:16px;*/
    margin-top: 2px;
    padding: 2px 4px;
    border: 1px solid #7d7d7d;
}

input.short{
    width:154px;
}

input.picker{
    width:20px;
    text-align:center;
    margin:0;
    height:16px;
}

.button {
    border: 1px solid #adb9c2;
    color: #576c12;
    background:url('../images/b2.gif') repeat-x; height:22px;
    padding: 2px;
    cursor:pointer;
}

.center {
    text-align: center;
}

.more, span.right {
    margin: 10px;
    float:right;
}

span.left {
    float:left;
}

.tip {
    color: red;
}

.inactive {
    color:#A9A9A9;
}

.clear{
    clear:both;
}
    
/* 表单下部的备注信息 */
.memo{
    color: #4169E1;
    font-style: italic;
}

#sysmenu{
    margin: 18px auto 0 auto;
    width: 140px;
}

#sysmenu h4{
    font-size: 14px;
    font-style: italic;
    color: #4c6ba3;
}

/* 用于显示颜色/材质的span属性 */
span.attribute_inner, img.attribute_inner {
    display: block;
    width: 40px;
    height: 16px;
    overflow: hidden;
    text-align: center;
    font-size: 12px;
}

a.attribute_outter, a.attribute_selected {
    width: 40px;
    height: 16px;
    float: left;
    border: 1px solid #336699;
    margin: 0 0.5em 0 0;
    padding: 1px;
}

a.attribute_outter:hover, a.attribute_selected {
    border: 1px solid #ff6600;
}

/* 动作提示 */
label.actiontip, .list_button_opt{
    
    margin-top: 4px;
    margin-left: 0.7em;
    /*width:98%;*/
}

label.actiontip, label.actiontip2 {
    display:inline-block;
    background: yellow;
    overflow: hidden;
    padding:2px;
}

dl#result dd{
    float:left;
    width:180px;
}

fieldset{
    clear:both;
    display:block;
    border:1px solid #4c6ba3;
    margin-bottom:9px;
}

fieldset legend{
    margin-left:9px;
    background:#4c6ba3;
    color:#ffffff;
}

fieldset div{
    margin:9px;
}
.item_selected {background: #002157; color:#e6e4d8;}
.hide {display:none}
